@import 'tailwindcss';

@theme {
  --text-heading1: 2.25rem;
  --text-heading1--font-weight: 700;

  --text-heading2: 1.875rem;
  --text-heading2--font-weight: 700;

  --text-heading3: 1.5rem;
  --text-heading3--font-weight: 700;

  --text-heading4: 1.25rem;
  --text-heading4--font-weight: 600;

  --text-heading5: 1.125rem;
  --text-heading5--font-weight: 600;
}

@theme {
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #713f12;

  --color-success-100: #dcfce7;
  --color-success-200: #22c55e;
  --color-success-300: #16a34a;
  --color-success-400: #166534;

  --color-danger-100: #fee2e2;
  --color-danger-200: #ef4444;
  --color-danger-300: #dc2626;
  --color-danger-400: #991b1b;
}
